# Server
fastapi==0.75.1
uvicorn==0.17.6

# DB
SQLAlchemy==1.4.35
psycopg2==2.9.3
asyncpg==0.25.0
greenlet==1.1.2
alembic==1.7.7

# Internal
PyYAML==6.0

# Worker
pandas
numpy

# Tests
pytest==7.1.1
pytest-cov==3.0.0
pytest-asyncio==0.18.3
Faker==11.3.0
requests==2.27.1

# Linters
flake8==4.0.1
mypy==0.961